@model BandsApp.Web.Models.Band[]

<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
</head>
<body>
    <div>
        <h2>Bands</h2>
        <ul>
            @foreach (var band in Model)
            {
                 <li>
                    <a href="/details/@band.Id" target="_blank">@band.Name</a>
                 </li>
            }
        </ul>
        </div>
    </body>
    </html>
